.chessboard {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.chessboard_row { 
    height: 100%;
    display: inline-flex;
    flex-direction: row;
    justify-content: space-between;
}


.black {
    background-color: #b58863;
}
.white {
    background-color: #f0d9b5;
}

.chessboard_square { 
    margin: 0px;
    border: 0px;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
