.soln_card_stats_container { 
    width: 100%;
    min-width: 920px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.soln_card_stats_row_container {
    width: 500px;
    border: 1px solid #eaeaea;
    border-top: 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.soln_card_stats_row_container:first-child {
    border-top: 1px solid #eaeaea;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
}

.soln_card_stats_row_container:last-child {
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
}

.soln_card_stats_row_title {
    border-right: 1px solid #eaeaea;
    background: #f6f6f6;
    width: 300px;
    padding: 12px;
}

.soln_card_stats_row_data {
    padding: 12px;
}

.flex_v {
    display: flex;
    flex-direction: column;
}

@media (max-width: 1000px) {
    .soln_card_stats_container {
        width: 600px;
        min-width: 600px;
    }
}

@media (max-width: 700px) {
    .soln_card_stats_container {
        width: 85vw;
        min-width: 85vw;
    }

    .soln_card_stats_row_container {
        width: 60vw;
    }
}